In [1]:
print("Hello World")

Hello World

In [2]:
import sys
print(sys.version)

3.9.11 (tags/v3.9.11:2de452f, Mar 16 2022, 14:33:45) [MSC v.1929 64 bit (AMD64)]

In [9]:
a = input()
b = input()
if a > b:
    print(f"{a} is the largest number")
elif a < b:
    print(f"{b} is the largest number")
else:
    print(f"{a} is equal to {b}")

4
4
4 is equal to 4

In [10]:
a = 1, 2, 3, 4, 5, 6
print(a, type(a))

(1, 2, 3, 4, 5, 6) <class 'tuple'>

In [11]:
print("""Hello
Vamshi
How are you?""")

Hello
Vamshi
How are you?

In [12]:
a = int(5)
b = str(5)
c = float(5)
print(a, b, c)

5 5 5.0

In [13]:
li = ["Vamshi", 'Kalyan', 2, 2.0]
for i in li:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>

In [15]:
a, b, c = 2, 3, 4
print(a, b, c)

2 3 4

In [17]:
a = b = c = "vamshi", "krishna"
print(a, b, c)

('vamshi', 'krishna') ('vamshi', 'krishna') ('vamshi', 'krishna')

In [18]:
li = ["apple", "orange", "Mango"]
a, b, c = li
print(a, b, c)

apple orange Mango

In [28]:
a = "vamshi"
b = "smart"
def func():
    global a, b
    a = "krishna"
    b = "kalyan"

func()
print(a, b)

krishna kalyan

In [29]:
bin = b'abcd'
for i in bin:
    print(i)

97
98
99
100

In [36]:
bar = bytearray("abc", "utf-8")
for i in bar:
    print(i)

97
98
99

In [3]:
a = 99
b = complex(a)
b

(99+0j)

In [7]:
from random import randrange as rr
print(rr(1, 10))

3

In [9]:
a = "10"
print(int(a))

10

# Single coat and double coats in string

In [16]:
print("Thi's is 'vamshi'")
print('This is "vamshi"')

Thi's is 'vamshi'
This is "vamshi"

In [22]:
print('This "i" vamshi')

This "i" vamshi

In [31]:
print("""This 'is' "vamshi" """)

This 'is' "vamshi"

In [52]:
print('''This 'is' "vamshi"''')

This 'is' "vamshi"

In [36]:
a = "Hello World"
b = a.split()
for i in range(len(a)):
    print(a[i])
print(b)

H
e
l
l
o

W
o
r
l
d
['Hello', 'World']

In [38]:
b[0][1]

'e'

In [39]:
a = "Welcome to my world"
print("to" in a)

True

In [40]:
for i in a:
    print(i)

W
e
l
c
o
m
e

t
o

m
y

w
o
r
l
d

In [46]:
if "welcome" not in a:
    print("present")

present

In [60]:
a = "Today is tomorrow"
print(a[9:17:2])

tmro

In [63]:
print(a[9::2])

tmro

In [68]:
print(a[-15:-10])

day i

In [72]:
a = "  this is the   day"
print(a)
print(a.strip())

  this is the   day
this is the   day

In [74]:
a = "This is the play"
b = a.replace("the ", "")
print(a)
print(b)

This is the play
This is play

In [75]:
a = "This is the split function"
print(a.split("t"))

['This is ', 'he spli', ' func', 'ion']

In [76]:
age = 23
print(f"My name is vamshi and I am {age}")

My name is vamshi and I am 23

In [92]:
print(f"This is {age:.3f}")

This is 23.000

In [91]:
print("This is {:.5f}".format(age))

This is 23.00000

In [90]:
print("This is ""This 'vamshi'")

This is This 'vamshi'

In [100]:
a = "1"
print(a.isalpha())
print(a.isdigit())

False
True

In [101]:
e = eval(input())
print(e)

2*9
18

In [105]:
print("My name is \"Vamshi\"")

My name is "Vamshi"

In [2]:
print("Hello\bWorld")

HelloWorld

## What is the difference between casefold() and lower() in Python?
This method is similar to the lower() method, but the casefold() method is stronger, more aggressive, meaning that it will convert more characters into lower case, and will find more matches when comparing two strings and both are converted using the casefold() method.

In [3]:
a = "The Rain is CoMMinG"
a.casefold()

'the rain is comming'

In [9]:
a.count("M")

2

In [11]:
b = a.encode()
b

b'The Rain is CoMMinG'

'backslashreplace'	- uses a backslash instead of the character that could not be encoded
'ignore'	- ignores the characters that cannot be encoded
'namereplace'	- replaces the character with a text explaining the character
'strict'	- Default, raises an error on failure
'replace'	- replaces the character with a questionmark
'xmlcharrefreplace'	- replaces the character with an xml character

In [14]:
txt = "My name is StÃ¥le"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))
# print(txt.encode(encoding="ascii",errors="strict"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [20]:
a = "Hello my world"
print(a.endswith("o",0,5))  # endswith(value, start, end)

True

In [44]:
a = "Hello\tmy\tworld"
print(a.expandtabs(10))

Hello     my        world

The find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found.

In [34]:
print(a.find("l"))    # string.find(value, start, end)
print(a.find("z"))    # Returns -1 if value not found
print(a.index("e"))
print(a.index("z"))   #Returns an error if value not found

2
-1
1

ValueError: substring not found

In [39]:
a.find("l",11,13)
a.rindex("l")

12

In [40]:
a = "Hello"
a.index("l")

2

In [41]:
a.rindex("l")   # counts from 0

3

In [43]:
a.find("e")

1

In [51]:
a = "Hello\tmy\tworld"   # \t is counted as value = 1
for i in a:
    print(i)
a.find("m")

H
e
l
l
o

m
y

w
o
r
l
d

6

In [61]:
print(a.find("d", 9, 14))
print(a.index("d"))

13
13

## Format function

In [65]:
a = 5
b = "vamshi"
print("hello {name}, your age is {age}".format(name = b, age = a))
print("My name is {1} and age is {0}".format(a, b))
print("My name is {} and age is {}".format(b, a))

hello vamshi, your age is 5
My name is vamshi and age is 5
My name is vamshi and age is 5

In [74]:
n, m = 4, "vamshi"
print(f"{n:.3f}")
print("{0:4f} {1}".format(n, m))   #indexing format
print("{:.2f} {}".format(n, m))    #format according to order

4.000
4.000000 vamshi
4.00 vamshi

In [76]:
a = "This is my world"
for i in (a.split()):
    print(i)

This
is
my
world

In [80]:
val = '\u00b2'   # superscript 2
b = "\u0047" #unicode for G
c = "\u0030" #unicode for 0
print(val.isdigit())
print(val.isdecimal())

True
False

In [81]:
print(c.isdigit())
print(c.isdecimal())

True
True

In [94]:
numb = "1.4"
print(numb.isdecimal())

False

In [97]:
sent = "Hello vamshi krishna".split()
j = "%".join(sent)
print(j)

Hello%vamshi%krishna

In [98]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)   #Joins only the key

print(x)

nameTESTcountry

In [100]:
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three", 2)
x

'three three was a race horse, two two was one too.'

In [109]:
txt = "apple, banana, cherryd, vamshi"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split(", ", 2)
x

['apple', 'banana', 'cherryd, vamshi']

In [110]:
txt = "apple, banana, cherry, vamshi"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.rsplit(", ", 1)
x

['apple, banana, cherry', 'vamshi']

In [1]:
a = 200
print(isinstance(a, int))

True

In [3]:
a = "200"
print(isinstance(a, str))

True

In [4]:
a = "200"
print(isinstance(a, int))

False

In [7]:
x = 14.7
y = 3

print(x // y)

4.0

In [1]:
x = 3
print(x)

3

In [2]:
print(x := 3)

3

In [33]:
li = ["vamshi", "krishna", "hello"]
li

['vamshi', 'krishna', 'hello']

In [34]:
li[2:32] = ["smart", "stock", "data", "analysis"]
li

['vamshi', 'krishna', 'smart', 'stock', 'data', 'analysis']

In [36]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("apples")

print(x)

('', '', 'I could eat bananas all day, bananas are my favorite fruit')

In [41]:
li = ["vamshi", "krishna", "hello"]
li.extend(["smart", "stock", "data", "analysis"])
li

['vamshi', 'krishna', 'hello', 'smart', 'stock', 'data', 'analysis']

In [44]:
i = 0
while i<(len(li)):
    print(li[i], end = ", ")
    i += 1

vamshi, krishna, hello, smart, stock, data, analysis,

In [46]:
l = [i if i != "smart" else "excellent" for i in li]
l

['vamshi', 'krishna', 'hello', 'excellent', 'stock', 'data', 'analysis']

In [57]:
li = ["vamshi", "krishna", "hello"]
li2 = [i for i in li if "a" not in i]
li2

['hello']

In [50]:
print(a := 3)
if a > 2:
    print(a, "is greater")
print(a + a)

3
3 is greater
6

In [60]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.sort()

print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [62]:

mylist = list(("apple", "banana", "cherry"))
print(mylist)

['apple', 'banana', 'cherry']

In [64]:
tu = ("vamshi", "Krishns", "smart")
tu

('vamshi', 'Krishns', 'smart')

In [66]:
tu[1] = "kalyan"

TypeError: 'tuple' object does not support item assignment

In [76]:
tu = ("vamshi", "Krishns", "smart")
# tu2 = ("hello", "boy")
tu2 = tuple(tu)
tu2

('vamshi', 'Krishns', 'smart')

In [68]:
tu

('vamshi', 'Krishns', 'smart', 'hello', 'boy')

In [69]:
t = ("hh",)
print(type(t))

<class 'tuple'>

In [2]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
thisset

{'apple', 'banana', 'cherry', 'mango', 'papaya', 'pineapple'}

In [1]:
a, b = 10, 20

if b > a: print("is greater than a")

is greater than a

In [2]:
print("b is greater than a") if b > a else print("a is greater than b")

b is greater than a

In [7]:
a, b = 5, 10

print("a") if a > b else print("same") if a == b else print("a is greater than 50") if a > 50 else print("nothing")

nothing

In [ ]:
if b > a: print("a")

In [19]:
i = 0
while i < 10:
    i += 1
    if i == 2:
        break
    print(i)

1

In [20]:
i = 0
while i < 10:
    i += 1
    if i == 2:
        continue
    print(i)

1
3
4
5
6
7
8
9
10

In [21]:
for i in range(10):
    if i == 5: 
        continue
    elif i > 7:
        break
    print(i)

0
1
2
3
4
6
7

In [23]:
i = 0
while i < 10:
    i += 1
    print(i)
else:
    print("i is no more less than 10")

1
2
3
4
5
6
7
8
9
10
i is no more less than 10

In [27]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [30]:
for i in range(29, 1, -3):
    print(i)

29
26
23
20
17
14
11
8
5
2

In [60]:
def my_function(a, b, c, d):
  print(a, b, c, d)

mn = 6
d = 9
my_function(5, 6, c = 4, 8)

SyntaxError: positional argument follows keyword argument (15702678.py, line 6)

In [68]:
def my_function(a, b, /, *, c, d):
  print(a, b, c, d)

mn = 4
d = 8
my_function(5, 6, c = 9, d = 7)

5 6 9 7

In [74]:
def my_function(a, b, c, d):
  print(a, b, c, d)

mn = 4
d = 8
my_function(5, 6, mn, r = 4)

TypeError: my_function() got an unexpected keyword argument 'r'

In [84]:
def my_function(a, b, c, d):
  print(a, b, c, d)

f = 5
s = 6
mn - 4
r = 4
my_function(1, 2, r, 2)

1 2 4 2

In [92]:
def fun(k):
    if k > 0:
        r = k + fun(k - 1)
        print(r)
    else:
        r = 0
    return r
print("Hello")
fun(6)

Hello
1
3
6
10
15
21

21

In [86]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [98]:
x = lambda a, b, c : print(a, b, c)
x(a = 2, c = 3, b = 4)

2 4 3

In [101]:
x = lambda a, b, c : a*b*c
x(a = 2, c = 3, b = 4)

24

In [103]:
def add(a):
    return lambda b : a + b

add(10)(4)

14

In [104]:
def add(a):
    return lambda b : a + b
a = add(10)
print(a(4))

14

In [6]:
class Students:
    def __init__(self, name, age):
        self.name = name
        self.age = age
s = Students("vamshi", 23)
print(s)
print(s.name, s.age)

<__main__.Students object at 0x000001A1D418E790>
vamshi 23

In [5]:
class Employee:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def __str__(self):
        return f"My name is {self.name} and my age is {self.age}"
e = Employee("vamshi", 23)
print(e)

My name is vamshi and my age is 23

In [13]:
class Employee:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def myfunc(self, mul):
        print(self.age * mul)
e = Employee("vamshi", 23)
e.myfunc(2)

46

In [14]:
class Employee:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def __str__(self):
        return f"My name is {self.name} and my age is {self.age}"

print(Employee("Vamshi", 23))

My name is Vamshi and my age is 23

In [15]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p2 = Person("vamshi", 23)

del p1.age

print(p2.age)
print(p1.age)

23

AttributeError: 'Person' object has no attribute 'age'

In [23]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lastname):
    super().__init__(fname, lastname)

x = Student("Mike", "tison")
x.printname()

Mike tison

In [29]:
class Vamshi:
    def __init__(self, name, age):
        self.name = name
        self.age = age

class Krishna:
    def __init__(self, li):
        self.li = li
    
    def myfunc(self):
        li2 = []
        for i in self.li:
            li2.append(i)
        return li2

li = []
n = 2

a1 = Vamshi("vamshi", 23)
li.append(a1)
a2 = Vamshi("kalyan", 24)
li.append(a2)

obj = Krishna(li)

vamshi 23
kalyan 24

In [31]:
m = list(input().split())
print(m)

vamshi krishna nagesh
['vamshi', 'krishna', 'nagesh']

In [32]:
m = list(map(int, input().split()))
print(m)

1 2 3 4 5
[1, 2, 3, 4, 5]

In [34]:
m = list(map(str, input().split()))
print(m)

vamshi krishna nagesh
['vamshi', 'krishna', 'nagesh']

In [35]:
li = []
for i in range(3):
    l = list(input().split())
    li.append(l[0], l[1])
print(l)

vamshi 23
krishna 34
smart 12
[['vamshi', '23'], ['krishna', '34'], ['smart', '12']]

In [58]:
class Vamshi:
    def __init__(self, name, age):
        self.name = name
        self.age = age

class Krishna:
    def __init__(self, li):
        self.li = li
    
    def myfunc(self):
        li2 = []
        for i in self.li:
            li2.append(i.name)
        return li2
    
    def age_validation(self):
        age = []
        for i in self.li:
            if int(i.age) >= 18:
                age.append(i)
        return age

li = []
n = int(input())
for i in range(n):
    l = list(map(str, input().split()))
    li.append(Vamshi(l[0], l[1]))
    

# a1 = Vamshi("vamshi", 23)
# li.append(a1)
# a2 = Vamshi("kalyan", 24)
# li.append(a2)

obj = Krishna(li)
# for i in obj.myfunc():
#     print(i)
for i in obj.age_validation():
    print(i.name, i.age)

3
vamshi 23
krishna 18
smart 12
vamshi 23
krishna 18

In [51]:
li = []
n = int(input("Enter the value of n"))
for i in range(n):
    l = list(map(str, input().split()))
    print(l[0])
print(l)

Enter the value of n2
vamshi 11
vamshi
krishna 23
krishna
['krishna', '23']

In [67]:
class Vamshi:
    def __init__(self, name, age):
        self.name = name
        self.age = age

class Krishna:
    def __init__(self, li):
        self.li = li
    
    def age_validation(self):
        age = []
        for i in self.li:
            if i.age >= 18:
                age.append(i)
        return age

li = []
n = int(input("Enter the value of n"))

#append the Vamshi constructor with values to li
for i in range(n):
    l = list(map(str, input().split()))
    li.append(Vamshi(l[0], int(l[1])))

obj = Krishna(li)
for i in obj.age_validation():
    print(i.name, i.age)

Enter the value of n3
vamshi 23
krishna 18
smart 16
vamshi 23
krishna 18

In [69]:
class Vamshi:
    def __iter__(self):
        self.a = 1
        return self
    
    def __next__(self):
        if self.a < 8:
            x = self.a
            self.a += 1
            return x
        else:
            raise StopIteration

obj = Vamshi()
it = iter(obj)

for i in it:
    print(i)

1
2
3
4
5
6
7

In [70]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

for i in myit:
 print(i)

apple
banana
cherry

In [79]:


def loca():
    a = "Hello"
    def loca2():
        nonlocal a
        a = "Hii"
    loca2()
    return a
print(loca())
print(a)

Hii
Hello

In [80]:
import datetime
print(datetime.datetime.now())

2024-07-20 15:47:19.539611

In [82]:
from datetime import datetime as dt
print(dt.now())

2024

In [84]:
def func(n):
    return abs(n - 50)

li = [49, 52, 35, 78, 90, 14, 37, 100]
li.sort(key = func)
li

[49, 52, 37, 35, 78, 14, 90, 100]

In [89]:
import json
vamshi = {
    "name": "vamshi",
    "age" : 23,
    "laptops": ("dell", "acer"),
    "mobiles": [
        {"name": "vivo", "model": "y12"},
        {"name": "iqoo", "model": "12"}
    ]
}

print(json.dumps(vamshi, indent = 4))

{
    "name": "vamshi",
    "age": 23,
    "laptops": [
        "dell",
        "acer"
    ],
    "mobiles": [
        {
            "name": "vivo",
            "model": "y12"
        },
        {
            "name": "iqoo",
            "model": "12"
        }
    ]
}

In [95]:
import re

txt = "The rain in Spain falls mainly in the plain!"

#Check if the string contains either "falls" or "stays":

x = re.findall("^The.*plain!$", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['The rain in Spain falls mainly in the plain!']
Yes, there is at least one match!

In [99]:
try:
    print(xy)
except Exception as e:
    print("an error occured", e)

an error occured name 'xy' is not defined

In [31]:
s = "the fellow DonKey"
s.isspace()

False

In [19]:
s = "the\tfellow\tDonKey"
s.expandtabs(4)

'the fellow  DonKey'

In [28]:
p = 23
c = 56
print("the price is {:.2f} {}".format(c, p))

the price is 56.00 23

In [30]:
print(f"{p:.2f}")

23.00

In [35]:
s = "boomika"
print(s.rjust(50), "agfafg")

                                           boomika agfafg

In [40]:
s = "the fellow DonKey"
s.partition("DonKey")

('the fellow ', 'DonKey', '')

In [44]:
vk = "this, is, vamshi, krishna"
vk.replace("vamshi", "Boomika")

'this, is, Boomika, krishna'

In [25]:
n = int(input())
res =[]
for i in range(n):
    name = input()
    marks = list(map(int, input().split()))
    s = 0
    for m in marks:
        s += m
    print(i)
    res.extend([name, s//(len(marks))])
# print(s, len(marks))
# print(name, s//(len(marks)))

for i in range(0, len(res), 2):
    print(res[i], res[i+1])

2
a
3 4 6
0
t
7 3 8
1
a 4
t 6

In [13]:
li = []
li.extend([1, 2, 3])
li

[1, 2, 3]

In [23]:
for i in range(0, 3+1, 2):
    print(i)

0
2

In [ ]:
n = int(input())
res =[]
for i in range(n):
    name = input()
    marks = list(map(int, input().split()))
    s = 0
    for m in marks:
        s += m
    print(i)
    res.extend([name, s//(len(marks))])
for i in range(0, len(res), 2):
    print(res[i], res[i+1])

In [30]:
def averageMarks(firstLetterOfName, m1, m2, m3):
    firstLetterOfName = firstLetterOfName[0]
    avg = (m1 + m2 + m3)//3
    print(firstLetterOfName, avg)

n = int(input())


for i in range(n):
    firstLetterOfName = input()
    marks = list(map(int, input().split()))
#     m1 = int(input())
#     m2 = int(input())
#     m3 = int(input())
    averageMarks(firstLetterOfName, marks[0], marks[1], marks[2])

2
a
3 4 6
a 4
t
7 3 8
t 6

In [34]:
def averageMarks(firstLetterOfName, m1, m2, m3):
    firstLetterOfName = firstLetterOfName[0]
    avg = (m1 + m2 + m3)//3
    print(firstLetterOfName, avg)


n = int(input())
for i in range(n):
    marks = []
    firstLetterOfName = input()
    # marks = list(map(int, input().split()))
    m1 = int(input())
    m2 = int(input())
    m3 = int(input())
    marks.extend([m1, m2, m3])
    averageMarks(firstLetterOfName, marks[0], marks[1], marks[2])
    # averageMarks(firstLetterOfName, m1, m2, m3)

2
a
3
4
6
a 4
t
7
3
8
t 6

In [39]:
def averageMarks(firstLetterOfName, m1, m2, m3):
    firstLetterOfName = firstLetterOfName[0]
    avg = (m1 + m2 + m3)//3
    # print(firstLetterOfName, avg)
    li.extend([firstLetterOfName, avg])



#     # Write your code here
#     # Return a pair<char, int> denoting the answer
#     pass

li = []
n = int(input())
for i in range(n):
    # marks = []
    firstLetterOfName = input()
    marks = list(map(int, input().split()))
    # m1 = int(input())
    # m2 = int(input())
    # m3 = int(input())
    # marks.extend(m1, m2, m3)
    averageMarks(firstLetterOfName, marks[0], marks[1], marks[2])
for i in range(0, len(li), 2):
    print(li[i], li[i+1])

2
a
3 4 6
t
7 3 8
a 4
t 6