In [1]:
print("Hello World")

Hello World

In [2]:
import sys
print(sys.version)

3.9.11 (tags/v3.9.11:2de452f, Mar 16 2022, 14:33:45) [MSC v.1929 64 bit (AMD64)]

In [9]:
a = input()
b = input()
if a > b:
    print(f"{a} is the largest number")
elif a < b:
    print(f"{b} is the largest number")
else:
    print(f"{a} is equal to {b}")

4
4
4 is equal to 4

In [10]:
a = 1, 2, 3, 4, 5, 6
print(a, type(a))

(1, 2, 3, 4, 5, 6) <class 'tuple'>

In [11]:
print("""Hello
Vamshi
How are you?""")

Hello
Vamshi
How are you?

In [12]:
a = int(5)
b = str(5)
c = float(5)
print(a, b, c)

5 5 5.0

In [13]:
li = ["Vamshi", 'Kalyan', 2, 2.0]
for i in li:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>

In [15]:
a, b, c = 2, 3, 4
print(a, b, c)

2 3 4

In [17]:
a = b = c = "vamshi", "krishna"
print(a, b, c)

('vamshi', 'krishna') ('vamshi', 'krishna') ('vamshi', 'krishna')

In [18]:
li = ["apple", "orange", "Mango"]
a, b, c = li
print(a, b, c)

apple orange Mango

In [28]:
a = "vamshi"
b = "smart"
def func():
    global a, b
    a = "krishna"
    b = "kalyan"

func()
print(a, b)

krishna kalyan

In [29]:
bin = b'abcd'
for i in bin:
    print(i)

97
98
99
100

In [36]:
bar = bytearray("abc", "utf-8")
for i in bar:
    print(i)

97
98
99

In [3]:
a = 99
b = complex(a)
b

(99+0j)

In [7]:
from random import randrange as rr
print(rr(1, 10))

3

In [9]:
a = "10"
print(int(a))

10

# Single coat and double coats in string

In [16]:
print("Thi's is 'vamshi'")
print('This is "vamshi"')

Thi's is 'vamshi'
This is "vamshi"

In [22]:
print('This "i" vamshi')

This "i" vamshi

In [31]:
print("""This 'is' "vamshi" """)

This 'is' "vamshi"

In [52]:
print('''This 'is' "vamshi"''')

This 'is' "vamshi"

In [36]:
a = "Hello World"
b = a.split()
for i in range(len(a)):
    print(a[i])
print(b)

H
e
l
l
o

W
o
r
l
d
['Hello', 'World']

In [38]:
b[0][1]

'e'

In [39]:
a = "Welcome to my world"
print("to" in a)

True

In [40]:
for i in a:
    print(i)

W
e
l
c
o
m
e

t
o

m
y

w
o
r
l
d

In [46]:
if "welcome" not in a:
    print("present")

present

In [60]:
a = "Today is tomorrow"
print(a[9:17:2])

tmro

In [63]:
print(a[9::2])

tmro

In [68]:
print(a[-15:-10])

day i

In [72]:
a = "  this is the   day"
print(a)
print(a.strip())

  this is the   day
this is the   day

In [74]:
a = "This is the play"
b = a.replace("the ", "")
print(a)
print(b)

This is the play
This is play

In [75]:
a = "This is the split function"
print(a.split("t"))

['This is ', 'he spli', ' func', 'ion']

In [76]:
age = 23
print(f"My name is vamshi and I am {age}")

My name is vamshi and I am 23

In [92]:
print(f"This is {age:.3f}")

This is 23.000

In [91]:
print("This is {:.5f}".format(age))

This is 23.00000

In [90]:
print("This is ""This 'vamshi'")

This is This 'vamshi'

In [100]:
a = "1"
print(a.isalpha())
print(a.isdigit())

False
True

In [101]:
e = eval(input())
print(e)

2*9
18

In [105]:
print("My name is \"Vamshi\"")

My name is "Vamshi"

In [2]:
print("Hello\bWorld")

HelloWorld

## What is the difference between casefold() and lower() in Python?
This method is similar to the lower() method, but the casefold() method is stronger, more aggressive, meaning that it will convert more characters into lower case, and will find more matches when comparing two strings and both are converted using the casefold() method.

In [3]:
a = "The Rain is CoMMinG"
a.casefold()

'the rain is comming'

In [9]:
a.count("M")

2

In [11]:
b = a.encode()
b

b'The Rain is CoMMinG'

'backslashreplace'	- uses a backslash instead of the character that could not be encoded
'ignore'	- ignores the characters that cannot be encoded
'namereplace'	- replaces the character with a text explaining the character
'strict'	- Default, raises an error on failure
'replace'	- replaces the character with a questionmark
'xmlcharrefreplace'	- replaces the character with an xml character

In [14]:
txt = "My name is StÃ¥le"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))
# print(txt.encode(encoding="ascii",errors="strict"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [20]:
a = "Hello my world"
print(a.endswith("o",0,5))  # endswith(value, start, end)

True

In [44]:
a = "Hello\tmy\tworld"
print(a.expandtabs(10))

Hello     my        world

The find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found.

In [34]:
print(a.find("l"))    # string.find(value, start, end)
print(a.find("z"))    # Returns -1 if value not found
print(a.index("e"))
print(a.index("z"))   #Returns an error if value not found

2
-1
1

ValueError: substring not found

In [39]:
a.find("l",11,13)
a.rindex("l")

12

In [40]:
a = "Hello"
a.index("l")

2

In [41]:
a.rindex("l")   # counts from 0

3

In [43]:
a.find("e")

1

In [51]:
a = "Hello\tmy\tworld"   # \t is counted as value = 1
for i in a:
    print(i)
a.find("m")

H
e
l
l
o

m
y

w
o
r
l
d

6

In [61]:
print(a.find("d", 9, 14))
print(a.index("d"))

13
13

## Format function

In [65]:
a = 5
b = "vamshi"
print("hello {name}, your age is {age}".format(name = b, age = a))
print("My name is {1} and age is {0}".format(a, b))
print("My name is {} and age is {}".format(b, a))

hello vamshi, your age is 5
My name is vamshi and age is 5
My name is vamshi and age is 5

In [74]:
n, m = 4, "vamshi"
print(f"{n:.3f}")
print("{0:4f} {1}".format(n, m))   #indexing format
print("{:.2f} {}".format(n, m))    #format according to order

4.000
4.000000 vamshi
4.00 vamshi

In [76]:
a = "This is my world"
for i in (a.split()):
    print(i)

This
is
my
world

In [80]:
val = '\u00b2'   # superscript 2
b = "\u0047" #unicode for G
c = "\u0030" #unicode for 0
print(val.isdigit())
print(val.isdecimal())

True
False

In [81]:
print(c.isdigit())
print(c.isdecimal())

True
True

In [94]:
numb = "1.4"
print(numb.isdecimal())

False

In [97]:
sent = "Hello vamshi krishna".split()
j = "%".join(sent)
print(j)

Hello%vamshi%krishna

In [98]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)   #Joins only the key

print(x)

nameTESTcountry