In [16]:
n = 10
for i in range(2, 10):
    b = False
    for j in range(2, i):
        if i%j == 0:
            b = True
            break
    if b == False:
        print(i)

2
3
5
7

In [3]:
a, b = 30, 40
li = [1, 2, 3, 4, 5]
li1 = [i if i < 3 else "World" for i in li]
li1

[1, 2, 'World', 'World', 'World']

In [4]:
l = ["vamshi", "krishna", "smart"]
f = [i.upper() for i in l]
f

['VAMSHI', 'KRISHNA', 'SMART']

In [5]:
def nearest_num(num):
    return abs(num-50)

li = [52, 44, 22, 77, 66, 40]
li.sort(key = nearest_num)
li

[52, 44, 40, 66, 77, 22]

In [9]:
li = ["banana", "Orange", "Kiwi", "cherry"]
li.sort(key = str.lower)
li

['banana', 'cherry', 'Kiwi', 'Orange']

In [12]:
thislist = ["Vamshi", "krishna", "smart", "Harley"]

thislist.sort(reverse = True)

print(thislist)

['smart', 'krishna', 'Vamshi', 'Harley']

In [13]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
class Vamshi:
    def __init__(self, name, age, company):
        self.name = name
        self.age = age
        self.company = company
        
    def __str__(self):
        return f"{self.name} {self.age} {self.company}"
    
    def metured(self):
        if(self.age > 18):
            return "Yes, He/She is metured"
        else:
            return "No, He/She is not metured"

class Krishna(Vamshi):
    def __init__(self, name, age, company):
        Vamshi.__init__(self, name, age, company)

v = Krishna("Vamshi", 18, "TCS")
print(v)
v.metured()
# print(v.name, v.age, v.company)

Vamshi 18 TCS

'No, He/She is not metured'

In [24]:
class Vamshi:
    def __init__(self, name, age, company):
        self.name = name
        self.age = age
        self.company = company
        
    def __str__(self):
        return f"{self.name} {self.age} {self.company}"
    
    def metured(self):
        if(self.age > 18):
            return "Yes, He/She is metured"
        else:
            return "No, He/She is not metured"

class Krishna(Vamshi):
    def __init__(self, name, age, company):
        super().__init__(name, age, company)

v = Krishna("Vamshi", 18, "TCS")
print(v)
v.metured()
# print(v.name, v.age, v.company)

Vamshi 18 TCS

'No, He/She is not metured'

In [27]:
li = ["vamshi", "krishna", "smart"]
i = iter(li)
print(next(i))
print(type(i))

vamshi
<class 'list_iterator'>

In [29]:
li = ["vamshi", "krishna", "smart"]
i = iter(li)
for j in li:
    print(next(i))

vamshi
krishna
smart

In [38]:
class iterator:
    def __iter__(self):
        self.a = 1
        return self
    
    def __next__(self):
        if self.a <= 20:
            x = self.a
            self.a += 1
            return x
        else:
            raise StopIteration

# it = iterator()
# itera = iter(it)

it2 = iter(iterator())
for i in it2:
    print(i)

# print(next(itera))
# print(next(itera))
# print(next(itera))
# print(next(itera))
# print(next(itera))
# print(next(itera))
# print(next(itera))

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [39]:
d = {"name": "Vamshi",
    "age": 23,
    "company": "TCS"}
print(d)

{'name': 'Vamshi', 'age': 23, 'company': 'TCS'}

In [41]:
d1 = dict(name = "vamshi", age = 23, company = "TCS")
d1

{'name': 'vamshi', 'age': 23, 'company': 'TCS'}

In [42]:
import datetime

v = datetime.datetime.now()
v

datetime.datetime(2023, 8, 18, 12, 44, 35, 531240)

In [45]:
b = datetime.datetime(2000, 8, 16)
print(b.strftime("%B"))

August

In [46]:
print(next(itera))

8

In [47]:
#The try block will generate an error, because x is not defined:

try:
  print(x)
except Exception as e:
  print("An exception occurred", e)

An exception occurred name 'x' is not defined

In [21]:
str1 = "ABABAB"
str2 = "ABAB"
b = False
m = min(len(str1), len(str2))
for i in range(m, 1, -1):
    print(len(str1), "%",i, "and", len(str2), "%", i)
    print(len(str1)%i == 0 and len(str2)%i == 0)
    if len(str1)%i == 0 and len(str2)%i == 0:
        print(str2[: i])
        b = True
    if b:
        print(str2[: i])

6 % 4 and 4 % 4
False
6 % 3 and 4 % 3
False
6 % 2 and 4 % 2
True
AB
AB

In [27]:
str1 = "LEET"
str2 = "CODE"
b = False
m = min(len(str1), len(str2))
for i in range(m, 1, -1):
    if len(str1)%i == 0 and len(str2)%i == 0:
        b = True
        break
if b:
    print(str2[: i])
else:
    print("")

CODE

In [59]:
str1 = "ABABABC"
str2 = "ABAB"
c = True
print(4//2)
j = 0
s = str1[:2]
print(s)
for i in range(2, len(str1) + 1, 4//2):
    if s != str1[j:i]:
        c = False
#         print(str1[j:i])
if c:
    print(s)

2
AB

In [58]:
from math import gcd

gcd(4, 4)

4

In [63]:
from math import gcd

str1 = "ABABAB"
str2 = "ABAB"

if str1 + str2 != str2 + str1:
    print("")
else:
    print(str2[: gcd(len(str1), len(str2))])

AB

In [66]:
candies = [2,3,5,1,3]
extraCandies = 3
mx = max(candies)
li = []

for i in candies:
    if i + extraCandies >= mx:
        li.append(True)
    else:
        li.append(False)
print(li)

[True, True, True, False, True]

In [89]:
candies = [2,3,5,1,3]
extraCandies = 3
l = [True if i + extraCandies >= mx else False for i in candies]
l

[True, True, True, False, True]

In [90]:
flowerbed = [1,0,0,0,1]
n = 2
f =  True
for i in range(len(flowerbed)):
    if flowerbed[i] == 0 and (i == 0 or flowerbed[i-1] == 0) and (i == len(flowerbed) - 1 or flowerbed[i + 1] == 0) :
        flowerbed[i] = 1
        n -=1
        if n == 0:
            f = False
            break
if f == False:
    print(True)
else:
    print(False)

False

In [108]:
s = "hEello"
v = "aeiou"
sample = []
st = ""
for i in s:
    if i.lower() in v:
        sample.append(i)
sample.reverse()
j = 0
for i in range(len(s)):
    s1 = s[i]
    if s[i].lower() in v:
        s1 = sample[j]
        j += 1
    st += s1
st

'hoellE'

In [113]:
s = "the sky is blue"
li = s.split()
li.reverse()
string = " ".join(li)
string

'blue is sky the'

In [120]:
import re

r = re.sub(" ", "_", string)
r

'blue_is_sky_the'

In [127]:
string = "The sky@is^blue"
r = re.split("\s|@|\^", string)
r

['The', 'sky', 'is', 'blue']

In [133]:
nums = [-1,1,0,-3,3]
li = []

for i in nums:
    m = 1
    for j in nums:
        if i != j:
            m *= j
    li.append(m)
li

[0, 0, 9, 0, 0]

In [147]:
import numpy
nums = [-1,1,0,-3,3]
li = []
m = 1
for i in nums:
    if i != 0:
        m *= i
print(m)

for i in nums:
    if i != 0:
        l = m//i
        li.append(l)
print(li)

9
[-9, 9, -3, 3]

In [1]:
nums = [1,2,3,4]
# nums = [-1,1,0,-3,3]
op = []
p = nums[0]
op.append(p)

for i in range(1, len(nums)):
    p *= nums[i]
    op.append(p)
print(op)
m = 1
for i in range(len(op)-1, -1, -1):
    if i == len(op) - 1:
        op[i] = op[len(op) - 2]
        m *= nums[i]
        print(op)
        print(m)
    elif i == 0:
        op[i] = m
        print("start")
    else:
        op[i] = op[i-1] * m
        print(op)
        print("op[i]", op[i])
        m *= nums[i]
        print(m, nums[i - 1])
op

[1, 2, 6, 24]
[1, 2, 6, 6]
4
[1, 2, 8, 6]
op[i] 8
12 2
[1, 12, 8, 6]
op[i] 12
24 1
start

[24, 12, 8, 6]

In [175]:
nums = [-1,1,0,-3,3]
op = []
p = nums[0]
op.append(p)

for i in range(1, len(nums)):
    p *= nums[i]
    op.append(p)

m = 1
for i in range(len(op)-1, -1, -1):
    if i == len(op) - 1:
        op[i] = op[len(op) - 2]
        m *= nums[i]
    elif i == 0:
        op[i] = m
    else:
        op[i] = op[i-1] * m
        m *= nums[i]

op

[0, 0, 9, 0, 0]

In [178]:
nf = float('inf')
print(nf)

inf

In [3]:
def increasingTriplet(nums):
    num_i = num_j = float('inf')
    for i in nums:
        if i <= num_i:
            num_i = i
            print("num_i", num_i, i)
        elif i <= num_j:
            num_j = i
            print("num_j", num_j, i)
        else:
            return True
    return False
nums = [5, 3, 5, 4, 6, 6, 7]
increasingTriplet(nums)

num_i 5 5
num_i 3 3
num_j 5 5
num_j 4 4

True

In [204]:
print(float("inf") < -1000)

False

In [212]:
def increasingTriplet(nums):
    num_i = num_j = num_k = float('inf')
    for i in nums:
        if i <= num_i:
            num_i = i
            print("num_i", num_i, i)
        elif i <= num_j:
            num_j = i
            print("num_j", num_j, i)
        elif i <= num_k:
            num_k = i
            print("num_k", num_k, i)
        else:
            return True
    return False
nums = [3, 5, 5, 6, 7, 3]
increasingTriplet(nums)

num_i 3 3
num_j 5 5
num_j 5 5
num_k 6 6

True

In [9]:
chars = ["a","a", "a","b","b", "e","c","c","c", "d", "d", "a"]
li = []
li.append(chars[0])

for i in range(len(chars) - 1):
    if chars[i] != chars[i + 1]:
        li.append(chars[i + 1])
j = 0
li2 = []
i = 0
c = 0
while i < len(chars):
    if li[j] == chars[i]:
        c += 1
        i += 1
        
        if i == len(chars) and c == 1:
            li2.append(li[j])
            
        elif i == len(chars):
            li2.append(li[j])
            li2.append(str(c))

    elif c == 1:
        li2.append(li[j])
        c = 0
        j += 1
        
    else:
        li2.append(li[j])
        li2.append(str(c))
        c = 0
        j += 1
print(li2)
for i in range(len(chars)):
    if i < len(li2):
        chars[i] = li2[i]
chars

['a', '3', 'b', '2', 'e', 'c', '3', 'd', '2', 'a']

['a', '3', 'b', '2', 'e', 'c', '3', 'd', '2', 'a', 'd', 'a']

In [6]:
nums = [0,1,0,3,12] 
for i in nums:
    if i == 0:
        nums.remove(i)
        nums.append(0)
nums

[1, 3, 12, 0, 0]

In [10]:
nums = [0,1,0,0,3,12] 
j = 0
for i in range(len(nums)):
    if nums[i] != 0:
        nums[j], nums[i] = nums[i], nums[j]
        print(nums)
        j += 1
nums

[1, 0, 0, 0, 3, 12]
[1, 3, 0, 0, 0, 12]
[1, 3, 12, 0, 0, 0]

[1, 3, 12, 0, 0, 0]

In [325]:
height = [2,3,4,5,18,17,6]
start = 0
l = len(height) - 1
n = len(height) - 1
m = 0
while start <= n:
    if height[start] < height[n]:
        print(height[start], "*", l, height[start] * l)
        if m < height[start] * l:
            m = height[start] * l
        start += 1
        l -= 1
    else:
        print(height[n], l, height[n] * l)
        if m < height[n] * l:
            m = height[n] * l
        n -= 1
        l -= 1
m

2 * 6 12
3 * 5 15
4 * 4 16
5 * 3 15
6 2 12
17 1 17
18 0 0

17

In [311]:
m = float("inf")
m

inf

In [330]:
height = [2,3,4,5,18,17,6]
s = 0
l = len(height) - 1
n = len(height) - 1
m = 0
while s <= n:
    if height[s] < height[n]:
        if m < height[s] * l:
            m = height[s] * l
        s += 1
        l -= 1
    else:
        if m < height[n] * l:
            m = height[n] * l
        l -= 1
        n -= 1
m

17

In [343]:
nums = [3,1,3,4,3]
nums.sort()
k = 4
print(nums)
i, j, c = 0, len(nums) - 1, 0

while i < j:
    sums = nums[i] + nums[j]
    if sums == k:
        i += 1
        j -= 1
        c += 1
    elif sums < k:
        i += 1
    else:
        j -= 1
c

[1, 3, 3, 3, 4]

1

In [358]:
nums = [1,12,-5,-6,50,3]
k = 4
mx = sums = sum(nums[:k])

for i in range(len(nums) - k):
    print(nums[i: k+i])
    sums += nums[i+k] - nums[i]
    if mx < sums:
        mx = sums
print(mx/k)

[1, 12, -5, -6]
[12, -5, -6, 50]
12.75

In [382]:
s = "ibpbhixfiouhdljnjfflpapptrxgcomvnb"
k = 33
v = "aeiou"
f = s[:k]
c = 0
m = 0
for i in f:
    if i in v:
        print(i)
        c+= 1
print(c)
if m < c:
    m = c
for i in range(len(s) - k):
    print(s[i:i+k])
    if s[i] in v:
        c -= 1
        print("i", s[i-1], i, c)
    if s[i+k] in v:
        c += 1
        print("j", s[i+k], i+k, c)
    if m < c:
        m = c
m

i
i
i
o
u
a
o
7
ibpbhixfiouhdljnjfflpapptrxgcomvn
i b 0 6

7

In [387]:
s = "ibpbhixfiouhdljnjfflpapptrxgcomvnb"
k = 33
v = "aeiou"
c = m = 0
for i in s[:k]:
    if i in v:
        c+= 1

if m < c:
    m = c

for i in range(len(s) - k):
    if s[i] in v:
        c -= 1
    if s[i+k] in v:
        c += 1
    if m < c:
        m = c
m

7

In [16]:
string = "vamshi"
print(ord(string[1]))

97

In [19]:
by = b'abcd'

for i in by:
    print(i)

97
98
99
100

In [25]:
byarr = bytearray("abcd", 'utf-8')
for i in byarr:
    print(i)

97
98
99
100

In [26]:
byarr = bytearray(b"abcd")
for i in byarr:
    print(i)

97
98
99
100

In [30]:
li = [1, 2, 3, 4, 5]
li2 = [6, 7, 8, 9, 0]
li3 = [li, li2]
type(li3)
li3

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 0]]

In [33]:
a = {1, 2, 3, 4, 'hii', 5}
b = {4, 8, 9, 5, 'hello', 'hii'}
print(a-b)
print(a|b)
print(a&b)

{1, 2, 3}
{1, 2, 3, 4, 5, 8, 9, 'hii', 'hello'}
{'hii', 4, 5}

In [40]:
li = [1, 2, 3, 4, 5]
x = li[0]
for i in range(len(li)-1):
    li[i] = li[i+1]
li[len(li)-1] = x
li

[2, 3, 4, 5, 1]

In [55]:
def gen_numbers():
    li = [1, 2, 3, 4, 5]
    for i in li:
        yield i**2
x = gen_numbers()

for i in range(6):
    try:
        print(next(x))
    except StopIteration as s:
        print(s)

1
4
9
16
25

In [59]:
class Vamshi:
    def __init__(self, name, age, company):
        self.name = name
        self.age = age
        self.company = company
class Krishna:
    def __init__(self, li):
        self.li = li
    
    def ouput(self):
        li2 = []
        for i in self.li:
            li2.append(i)
        return li2

v = Vamshi("vamshi", 23, "TCS")
v1 = Vamshi("krishna", 22, "Google")
li = []
li.append(v)
li.append(v1)
li.sort(key = lambda a: a.name, reverse = False)
k = Krishna(li)
o = k.ouput()
print(type(o))

for i in o:
    print(i.name)
    print(i.age)
    print(i.company)

<class 'list'>
krishna
22
Google
vamshi
23
TCS