In [2]:
print("Hello World")

Hello World

In [3]:
li = [1, 2, 3]
a, b, c = li
print(a, b, c)

1 2 3

In [1]:
a = "strip2 lkjdfl2"
b = a.strip("2")
b

'strip2 lkjdfl'

In [5]:
class Vehical:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model
    
    def move(self):
        print("Move...")

class Car(Vehical):
    def __init__(self, brand, model):
        super().__init__(brand, model)
    
class Boat(Vehical):
    def __init__(self, brand, model):
        super().__init__(brand, model)
    
    def move(self):
        print("Sail...")

class Plane(Vehical):
    def __init__(self, brand, model):
        super().__init__(brand, model)
        
    def move(self):
        print("Fly...")

c = Car("Ford", "Mustang")
b = Boat("David's Boat", "Titanic")
p = Plane("Deccand", "Air line")

for i in (c, b, p):
    print("Brand :", i.brand, ",", end = " ")
    print("Model", i.model)
    i.move()

Brand : Ford , Model Mustang
Move...
Brand : David's Boat , Model Titanic
Sail...
Brand : Deccand , Model Air line
Fly...

In [6]:
global x
x = 10
def fun():
    x = 400
fun()
print(x)

10

In [7]:
def multi(**args):
    for i in args:
        print(i, ":", args[i], i)

multi(intelligence = "smart", firstName = "Vamshi", lastName = "Krishna")

intelligence : smart intelligence
firstName : Vamshi firstName
lastName : Krishna lastName

In [8]:
from functools import reduce
li = [1, 2, 3, 4, 5]

lam = lambda a, b : a * b

r = reduce(lam, li)

print(r)

120

In [9]:
print(sum(li))

15

In [10]:
li = [1, 2, 3, 4, 5, 6]

sums = 0

for i in li:
    sums += i

print(sums)

21

In [11]:
import datetime

print(datetime.date.today())

2023-07-15

In [12]:
o = b'abc'
for i in o:
    print(i)

97
98
99

In [13]:
ba = bytearray("abc", "utf-8")

for i in ba:
    print(i)

97
98
99

In [14]:
ba1 = bytearray(b'abc')

for i in ba1:
    print(max(str(i)))

9
9
9

In [15]:
li = ["a", "c", "f", "t"]

s = "".join(str(i) for i in li)

print(s)

ba2 = bytearray(s, "utf-8")

for i in ba2:
    print(i)

acft
97
99
102
116

In [16]:
li1 = [1, 2, 3, 4, 5, 6, 7, 8]

fil = list(filter(lambda a : a % 2 == 0, li1))

print(fil)

[2, 4, 6, 8]

In [17]:
inp = list(map(int, input().split()))

print(inp)

1 2 3
[1, 2, 3]

In [18]:
inp1 = list(input().split())
fil1 = list(filter(lambda a : len(a) > 4, inp1))
print(inp1)
print(fil1)

vamshi krishna n
['vamshi', 'krishna', 'n']
['vamshi', 'krishna']

In [19]:
print(inp1[1 : 2])

['krishna']

In [20]:
# print(inp1.find("vamshi"))

AttributeError: 'list' object has no attribute 'find'

In [21]:
l = list((1, 2, 3, 4))
l

[1, 2, 3, 4]

In [22]:
s = set([1, 2, 3, 4])
s

{1, 2, 3, 4}

In [23]:
s = set((1, 2, 3, 4))
s

{1, 2, 3, 4}

In [24]:
t = tuple((1, 2, 3, 4))
t

(1, 2, 3, 4)

In [25]:
d = {"name": "vamshi", "age" : 22, "bdate": 2000}
d

{'name': 'vamshi', 'age': 22, 'bdate': 2000}

In [26]:
li = [1, 2, 2, 3, 5, 4, 4, 6, 5]

sor = sorted(set(li), reverse = False)
sor

[1, 2, 3, 4, 5, 6]

In [2]:
li = {1, 2, 3, 4, 5}
li1 = {2, 4}
print(li-li1)
li&li1

{1, 3, 5}

{2, 4}

# ScoreBoard

In [28]:
a = [22, 44, 55, 66, 77, 99, 101]
b = [33, 55, 67, 78, 89, 100]
score = []
b.sort(reverse = True)
l = len(b) - 1
i = 0
while i < len(a) + 1 and l >= 0:
    if a[i] < b[l]:
        i += 1
        score.append(l + 2)
    else:
        l -= 1
    if i < len(a):
        print(a[i], l + 2)
if a[len(a) - 1] > b[0]:
    score.append(1)
print(score)

44 7
44 6
55 6
55 5
66 5
77 5
77 4
99 4
99 3
99 2
101 2
101 1
[7, 6, 5, 5, 4, 2, 1]

In [29]:
li = [1, 2, 3, 4, 5]
k = int(input())

for i in range(k):
    last_element = li[len(li) - 1]
    for j in range(len(li) - 1, 0, -1):
        li[j] = li[j-1]
    li[0] = last_element
print(li)

2
[4, 5, 1, 2, 3]

In [30]:
li = [1, 2, 3, 4, 5]
k = int(input())

for i in range(k):
    start = li[0]
    for j in range(len(li) - 1):
        li[j] = li[j + 1]
    li[len(li) - 1] = start
print(li)

1
[2, 3, 4, 5, 1]

In [31]:
li = [1, 2, 3, 4, 5, 6]

li1 = [i**2 for i in li if i % 2 == 0]

li1

[4, 16, 36]

In [32]:
height = [1,8,6,2,5,4,8,25,7]
length = len(height) - 1
start = 0
maximum = 0

while start < length:
    if height[start] < height[length]:
        if height[start] * (length-start) > maximum:
            maximum = height[start] * (length - start)
        start += 1
    else:
        if height[length] * (length - start) > maximum:
            maximum = height[length] * (length - start)
        length -= 1
print(maximum)

49

In [33]:
li = [1, 2, 3, 4, 5]
it = iter(li)

for i in li:
    print(next(it))

1
2
3
4
5

In [34]:
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
it = iter(li)
while True:
    try:
        print(next(it))
    except StopIteration:
        break

1
2
3
4
5
6
7
8
9
10

In [35]:
s = " ".join(str(i) for i in li)
print(s)

1 2 3 4 5 6 7 8 9 10

In [36]:
import re

li = "Hi V,.am,.sh06i"
re.split("\s|,.|[0-9]", li)

['Hi', 'V', 'am', 'sh', '', 'i']

In [37]:
re.sub(",.|[0-9]", "", li)

'Hi Vamshi'

In [38]:
re.sub("[^a-zA-Z]|\S", "", li)

''

In [39]:
re.sub("[^a-zA-Z]|\s", "", li)

'HiVamshi'

In [40]:
re.sub("[+]", "", li)

'Hi V,.am,.sh06i'

In [41]:
li2 = li.split()

string += " ".join(re.sub("[^a-zA-Z]", "", i) for i in li2)
string

NameError: name 'string' is not defined

In [42]:
lists = ["Hii", "V,.amsh06i"]

x = " ".join(re.sub("[^a-zA-Z]", "", i) for i in li2)
x

'Hi Vamshi'

In [43]:
li2

['Hi', 'V,.am,.sh06i']

In [44]:
li2 = li.split()

strings = ""
strings += " ".join(re.sub("[^a-zA-Z]", "", i) for i in li2)
print(strings)

Hi Vamshi

In [45]:
dic = dict()
dic["name"] = "Vamshi Krishna"
dic["age"] = 22
dic

{'name': 'Vamshi Krishna', 'age': 22}

In [46]:
import collections

d = collections.OrderedDict()

In [47]:
import collections    
d1=collections.OrderedDict()
d1['A']=10    
d1['C']=12    
d1['B']=11    
d1['D']=13    

for k,v in d1.items():    
    print (k,v)

A 10
C 12
B 11
D 13

In [48]:
import collections    
d1=dict()
d1['A']=10    
d1['C']=12    
d1['B']=11    
d1['D']=13    

for k,v in d1.items():    
    print (k,v)

A 10
C 12
B 11
D 13

In [49]:
input_list = [1,2,3,4,5,6,7]
  
dict_using_comp = {var:var ** 3 for var in input_list if var % 2 != 0}
  
print("Output Dictionary using dictionary comprehensions:",
                                           dict_using_comp)

Output Dictionary using dictionary comprehensions: {1: 1, 3: 27, 5: 125, 7: 343}

In [50]:
inli = [1, 2, 3, 4, 5, 6, 7, 8]

di = {i: i**2 for i in inli if i % 2 == 0}
di

{2: 4, 4: 16, 6: 36, 8: 64}

# Collections
## Counter

In [51]:
from collections import Counter

s = "aaabbbbbbcccccccddddd"
c = Counter(s)
print(c)

Counter({'c': 7, 'b': 6, 'd': 5, 'a': 3})

In [52]:
for a, b in c.items():
    print(a, b)

a 3
b 6
c 7
d 5

return two Most Common elements

In [53]:
print(c.most_common(2))

[('c', 7), ('b', 6)]

In [54]:
# Get a tuple of most common element
print(c.most_common(1)[0])

# Get only the most common element
print(c.most_common(1)[0][0])

('c', 7)
c

In [55]:
a, b = c.most_common(1)[0]
print(a, b)

c 7

## Named Tuple

In [56]:
from collections import namedtuple

p = namedtuple("point", "x, y")

pt = p(2, 34)

print(pt)

point(x=2, y=34)

In [57]:
print(pt.x, pt.y)

2 34

## OrderedDict()
- From Python 3.7 and above the OrderedDict() is same as dict(), It remembers the order

In [58]:
from collections import OrderedDict

a = OrderedDict()
a["name"] = "Vamshi"
a["age"] = 22
a["company"] = "TCS"
print(a.items())

odict_items([('name', 'Vamshi'), ('age', 22), ('company', 'TCS')])

In [59]:
for i, j in a.items():
    print(i, j)

name Vamshi
age 22
company TCS

The above is same as

In [60]:

b = dict()
b["name"] = "Vamshi"
b["age"] = 22
b["company"] = "TCS"
print(b.items())

dict_items([('name', 'Vamshi'), ('age', 22), ('company', 'TCS')])

In [61]:
for i, j in b.items():
    print(i, j)

name Vamshi
age 22
company TCS

# defaultdict()
- Compared to the normal dictonary it will have a default value

In [62]:
from collections import defaultdict

defdict = defaultdict(int)
defdict["a"] = 1
defdict["b"] = 2
print(defdict["a"])

1

In [63]:
# It will return 0 if the value is not specifide
print(defdict["c"])

0

In [64]:
from collections import defaultdict

defdict = defaultdict(float)
defdict["a"] = 1
defdict["b"] = 2
print(defdict["c"])

0.0

In [65]:
from collections import defaultdict

defdict = defaultdict(list)
defdict["a"] = 1
defdict["b"] = 2

# It will return a empty list
print(defdict["c"])

[]

In [66]:
from collections import defaultdict

defdict = defaultdict(list)
defdict["a"] = 1
defdict["b"] = 2

# It will return a empty list
print(defdict["c"])

[]

## deque()

In [67]:
from collections import deque

dq = deque()

dq.append(1)
dq.append(2)

print(dq)

deque([1, 2])

In [68]:
dq.appendleft(3)
dq

deque([3, 1, 2])

In [69]:
dq.extend([6, 7])
dq

deque([3, 1, 2, 6, 7])

In [70]:
dq.extendleft([7, 8, 5])
dq

deque([5, 8, 7, 3, 1, 2, 6, 7])

In [71]:
dq.rotate(1)
dq

deque([7, 5, 8, 7, 3, 1, 2, 6])

### Rotation with dque() to the right

In [78]:
li = [1, 2, 3, 4, 5]
dq1 = deque(li)
dq1.rotate(1)
print(list(dq1))

[5, 1, 2, 3, 4]

### Rotate dque() to the left

In [80]:
li = [1, 2, 3, 4, 5]
dq2 = deque(li)
dq2.rotate(-1)
print(list(dq2))

[2, 3, 4, 5, 1]

# Generators
 - return will return only one value but generators will return more values
 - If we use yield in a unction instead of return then it is a generator

In [73]:
def topten():
    yield 1
    yield 2
    yield 3
    yield 4
    yield 5


for i in topten():
    print(i)

1
2
3
4
5

### Return top ten squares with yield

In [74]:
def square():
    sq = 1
    while sq <= 10:
        yield sq**2
        sq += 1
for i in square():
    print(i)

1
4
9
16
25
36
49
64
81
100

In [75]:
n = int(input())
li = []

for i in range(n):
    inp = list(map(int, input().split()))
    li.append(inp)

li

3
1 2 3
4 5 6
7 8 9

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [76]:
sums = 0
for i in range(len(li)):
    sums += li[i][i]

print(sums)

15

In [77]:
sums = 0
i = 0
j = n - 1
while i < n:
    sums += li[j][i]
    i += 1
    j -= 1
print(sums)

15

In [3]:
li = list(range(3))
li

[0, 1, 2]

In [9]:
import random

print(random.random())

0.746057825783954

In [10]:
print(random.randint(1, 10))

7

In [12]:
print(random.randrange(10))

6

### I we need to add if else in list Comprehension

In [13]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x if "a" in x else "none" for x in fruits ]

print(newlist)

['apple', 'banana', 'none', 'none', 'mango']

In [15]:
t = ("vamshi", ) * 3
t

('vamshi', 'vamshi', 'vamshi')